html {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Prata";
}

header {
    background-color: #859F6B;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    max-width: 1100px;
    margin: 0 auto;
}

.logo {
    font-size: 17px;
    font-weight: bold;
}

nav ul {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    display: flex;
    gap: 20px;
}

nav ul li {
    margin: 0 auto;      
    display: block; 
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
} 

h1 {
    font-size: 40px;
    color: #90906E;
    max-width: 1100px;
    margin: 0 auto;
    margin: 30px 240px;
    font-weight: 400;
}

h2 {
    font-size: 17px;
    color: #6D794E;
    max-width: 1100px;
    margin: 0 auto;
    margin: -10px 240px;
}


h3 {
    font-size: 15px;
    color: black;
    max-width: 1100px;
    margin: 0 auto;
    margin: 30px 240px;
    font-weight: 500;
}

img[alt="deep-forest"] { 
    height: 370px;
    width: 980px;
    margin: 0 auto;      
    display: block; 
}

img[alt="etna-montagna"] { 
    height: 450px;
    width: 980px;
    margin: 0 auto;      
    display: block; 
    
}

.Titolo-parco {
    margin-top: -80px;  
    color: #F5F5DC; 
    margin-left: 100px; 
}

.sottotitolo-parco {
    font-size: 14px;
    color: #000000;
    text-align: left; 
    max-width: 900px;
    margin: 0 auto;
    margin-top: 50px; 
}

.descrizione-parco {
    font-size: 14px;
    color: #000000;
    line-height: 1.6;
    text-align: left;
    max-width: 900px;
    margin: 0 auto;
    position: relative;
    top: 50px;
}

.Titolo-paesaggio {
    font-size: 30px;
    color: #90906E;
    max-width: 900px;
    margin: 0 auto;
    text-align: justify;
    margin-top: 150px; 
}

.descrizione-paesaggio {
    font-size: 14px;
    color: #000000;
    line-height: 1.6;
    text-align: left;
    max-width: 900px;
    margin: 0 auto;
    position: relative;
    top: 20px;
}

img[alt="volpe"] {
    height: 600px;
    width: 980px;
    margin: 0 auto;      
    display: block; 
    margin-top: 130px; 
}

.titolo-fauna {
    font-size: 30px;
    color: #90906E;
    max-width: 900px;
    margin: 0 auto;
    text-align: justify;
    margin-top: 55px; 
}

.Fauna {
    font-size: 14px;
    color: #000000;
    line-height: 1.6;
    text-align: left;
    max-width: 900px;
    margin: 0 auto;
    position: relative;
    top: 30px;
} 

.contenitore {
    display: flex;
    justify-content: flex-end; 
    margin-top: 130px;
}

img[alt="borgo"] {
    height: 400px;
    width: 800px;
}

.Titolo-attività {
    font-size: 30px;
    color: #90906E;
    max-width: 900px;
    margin: 0 auto;
    text-align: justify;
    margin-top: 120px; 
}

.descrizione-attività {
    font-size: 14px;
    color: #000000;
    line-height: 1.6;
    text-align: left;
    max-width: 900px;
    margin: 0 auto;
    position: relative;
    top: 20px;
} 

.conservazione {
    font-size: 30px;
    color: #FFFFFF;
    margin: 340px;
    margin-top: -260px;
}

.testo {
    font-size: 14px;
    color: #ffffff;
    margin: 350px;
    position: relative;
    margin-top: -330px;
    max-width: 600px;
}

.Titolo-visitare {
    font-size: 30px;
    color: #90906E;
    max-width: 900px;
    margin: 0 auto;
    text-align: justify;
    margin-top: -200px; 
}

.descrizione-visitare {
    font-size: 14px;
    color: #000000;
    line-height: 1.6;
    text-align: left;
    max-width: 900px;
    margin: 0 auto;
    position: relative;
    top: 20px;
} 

.footer {
    background-color: #859F6B; 
    color: white; 
    text-align: center; 
    padding: 35px; 
    position: relative; 
    bottom: 0;
    width: 95.4%; 
    margin-top: 400px;
}

img[alt="montagne"] { 
    height: 550px;
    width: 980px;
    margin: 0 auto;      
    display: block; 
}

.Titolo-parco01 {
    margin-top: -80px;  
    color: #F5F5DC; 
    margin-left: 100px; 
}

.sottotitolo-parco01 {
    font-size: 14px;
    color: #000000;
    text-align: left; 
    max-width: 900px;
    margin: 0 auto;
    margin-top: 50px; 
}

.descrizione-parco01 {
    font-size: 14px;
    color: #000000;
    line-height: 1.6;
    text-align: left;
    max-width: 900px;
    margin: 0 auto;
    position: relative;
    top: 50px;
}

.Titolo-montagne03 {
    font-size: 30px;
    color: #90906E;
    max-width: 900px;
    margin: 0 auto;
    text-align: justify;
    margin-top: 150px; 
}

.descrizione-montagne03 {
    font-size: 14px;
    color: #000000;
    line-height: 1.6;
    text-align: left;
    max-width: 900px;
    margin: 0 auto;
    position: relative;
    top: 20px;
} 

.Titolo-attività03 {
    font-size: 30px;
    color: #90906E;
    max-width: 900px;
    margin: 0 auto;
    text-align: justify;
    margin-top: 120px; 
}

.descrizione-attività03 {
    font-size: 14px;
    color: #000000;
    line-height: 1.6;
    text-align: left;
    max-width: 900px;
    margin: 0 auto;
    position: relative;
    top: 20px;
} 

.Titolo-cultura {
    font-size: 30px;
    color: #90906E;
    max-width: 900px;
    margin: 0 auto;
    text-align: justify;
    margin-top: 190px; 
}

.descrizione-cultura03 {
    font-size: 14px;
    color: #000000;
    line-height: 1.6;
    text-align: left;
    max-width: 900px;
    margin: 0 auto;
    position: relative;
    top: 20px;
} 

.Titolo-bellunesi {
    font-size: 30px;
    color: #90906E;
    max-width: 900px;
    margin: 0 auto;
    text-align: justify;
    margin-top: 110px; 
}

.descrizione-bellunesi03 {
    font-size: 14px;
    color: #000000;
    line-height: 1.6;
    text-align: left;
    max-width: 900px;
    margin: 0 auto;
    position: relative;
    top: 20px;
} 

img[alt="capre-montagna"] {
    height: 650px;
    width: 980px;
    margin: 0 auto;      
    display: block; 
    margin-top: 130px; 
}

.titolo-fauna01 {
    font-size: 30px;
    color: #90906E;
    max-width: 900px;
    margin: 0 auto;
    text-align: justify;
    margin-top: 55px; 
}

.Fauna01 {
    font-size: 14px;
    color: #000000;
    line-height: 1.6;
    text-align: left;
    max-width: 900px;
    margin: 0 auto;
    position: relative;
    top: 40px;
} 

.Titolo-alpini01 {
    font-size: 30px;
    color: #90906E;
    max-width: 900px;
    margin: 0 auto;
    text-align: justify;
    margin-top: 55px; 
}

.descrizione-alpini01  {
    font-size: 14px;
    color: #000000;
    line-height: 1.6;
    text-align: left;
    max-width: 900px;
    margin: 0 auto;
    position: relative;
    top: 40px;
} 

.Titolo-visitatori01 {
    font-size: 30px;
    color: #90906E;
    max-width: 900px;
    margin: 0 auto;
    text-align: justify;
    margin-top: 100px; 
}

.visitatori01  {
    font-size: 14px;
    color: #000000;
    line-height: 1.6;
    text-align: left;
    max-width: 900px;
    margin: 0 auto;
    position: relative;
    top: 20px;
} 

.Titolo-storico01 {
    font-size: 30px;
    color: #90906E;
    max-width: 900px;
    margin: 0 auto;
    text-align: justify;
    margin-top: 100px; 
}

.storico01 {
    font-size: 14px;
    color: #000000;
    line-height: 1.6;
    text-align: left;
    max-width: 900px;
    margin: 0 auto;
    position: relative;
    top: 20px;
} 

.Titolo-paradiso01  {
    font-size: 30px;
    color: #90906E;
    max-width: 900px;
    margin: 0 auto;
    text-align: justify;
    margin-top: 190px; 
}

.paradiso01 {
    font-size: 14px;
    color: #000000;
    line-height: 1.6;
    text-align: left;
    max-width: 900px;
    margin: 0 auto;
    position: relative;
    top: 20px;
} 

.contenitore01 {
    display: flex;
    justify-content: flex-end; 
    margin-top: 130px;
}

img[alt="paradiso-montagna"] {
    height: 400px;
    width: 800px;
}

.conservazione01 {
    font-size: 30px;
    color: #FFFFFF;
    margin: 340px;
    margin-top: -260px;
}

.testo01 {
    font-size: 14px;
    color: #ffffff;
    margin: 350px;
    position: relative;
    margin-top: -330px;
    max-width: 600px;
}

.footer {
    background-color: #859F6B; 
    color: white; 
    text-align: center; 
    padding: 35px; 
    position: relative; 
    bottom: 0;
    width: 95.4%; 
    margin-top: 400px;
}

img[alt="Pollino"] { 
    height: 550px;
    width: 980px;
    margin: 0 auto;      
    display: block;
}

.Titolo-parco02 {
    margin-top: -80px;  
    color: #F5F5DC; 
    margin-left: 100px; 
}


.descrizione-parco02 {
    font-size: 14px;
    color: #000000;
    line-height: 1.6;
    text-align: left;
    max-width: 900px;
    margin: 0 auto;
    position: relative;
    top: 50px;
}

img[alt="lupo-pollino"] {
    height: 650px;
    width: 980px;
    margin: 0 auto;      
    display: block;
    margin-top: 130px; 
}

.Titolo-montagne02 {
    font-size: 30px;
    color: #90906E;
    max-width: 900px;
    margin: 0 auto;
    text-align: justify;
    margin-top: 120px; 
}

.descrizione-montagne02 {
    font-size: 14px;
    color: #000000;
    line-height: 1.6;
    text-align: left;
    max-width: 900px;
    margin: 0 auto;
    position: relative;
    top: 20px;
} 

.Titolo-visitatori02 {
    font-size: 30px;
    color: #90906E;
    max-width: 900px;
    margin: 0 auto;
    text-align: justify;
    margin-top: 120px; 
}

.descrizione-visitatori02 {
    font-size: 14px;
    color: #000000;
    line-height: 1.6;
    text-align: left;
    max-width: 900px;
    margin: 0 auto;
    position: relative;
    top: 20px;
} 

.titolo-botanica {
    font-size: 30px;
    color: #90906E;
    max-width: 900px;
    margin: 0 auto;
    text-align: justify;
    margin-top: 100px; 
}

.descrizione-botanica02{
    font-size: 14px;
    color: #000000;
    line-height: 1.6;
    text-align: left;
    max-width: 900px;
    margin: 0 auto;
    position: relative;
    top: 20px;
} 

.titolo-pollino {
    font-size: 30px;
    color: #90906E;
    max-width: 900px;
    margin: 0 auto;
    text-align: justify;
    margin-top: 200px; 
}

.testo-pollino02{
    font-size: 14px;
    color: #000000;
    line-height: 1.6;
    text-align: left;
    max-width: 900px;
    margin: 0 auto;
    position: relative;
    top: 20px;
} 

.titolo-fauna02 {
    font-size: 30px;
    color: #90906E;
    max-width: 900px;
    margin: 0 auto;
    text-align: left;
    margin-top: 55px; 
}

.Fauna02 {
    font-size: 14px;
    color: #000000;
    line-height: 1.6;
    text-align: left;
    max-width: 900px;
    margin: 0 auto;
    position: relative;
    top: 40px;
} 

.contenitore02 {
    display: flex;
    justify-content: flex-end; 
    margin-top: 130px;
}

img[alt="pollino-montagna"] {
    height: 400px;
    width: 800px;
}

.conservazione02 {
    font-size: 30px;
    color: #FFFFFF;
    margin: 340px;
    margin-top: -260px;
}

.testo02 {
    font-size: 14px;
    color: #ffffff;
    margin: 350px;
    margin-top: -330px;
    max-width: 600px;
}

.footer {
    background-color: #859F6B; 
    color: white; 
    text-align: center; 
    padding: 35px; 
    position: relative; 
    bottom: 0;
    width: 95.4%; 
    margin-top: 400px;
}

img[alt="dolomiti-montagne"] { 
    height: 550px;
    width: 980px;
    margin: 0 auto;      
    display: block;
}

.Titolo-parco03 {
    margin-top: -150px;  
    color: #F5F5DC; 
    margin-left: 100px; 
}


.descrizione-parco03 {
    font-size: 14px;
    color: #000000;
    line-height: 1.6;
    text-align: left;
    max-width: 900px;
    margin: 0 auto;
    position: relative;
    top: 50px;
}

img[alt="camoscio-dolomiti"] {
    height: 600px;
    width: 980px;
    margin: 0 auto;      
    display: block;
    margin-top: 130px; 
}

.titolo-fauna03 {
    font-size: 30px;
    color: #90906E;
    max-width: 900px;
    margin: 0 auto;
    text-align: left;
    margin-top: 55px; 
}

.Fauna03 {
    font-size: 14px;
    color: #000000;
    line-height: 1.6;
    text-align: left;
    max-width: 900px;
    margin: 0 auto;
    position: relative;
    top: 40px;
} 

.contenitore03 {
    display: flex;
    justify-content: flex-end; 
    margin-top: 130px;
}

img[alt="dolomiti"] {
    height: 400px;
    width: 800px;
}

.conservazione03 {
    font-size: 30px;
    color: #FFFFFF;
    margin: 340px;
    margin-top: -260px;
}

.testo03 {
    font-size: 14px;
    color: #ffffff;
    margin: 350px;
    margin-top: -330px;
    max-width: 600px;
}

.footer {
    background-color: #859F6B; 
    color: white; 
    text-align: center; 
    padding: 35px; 
    position: relative; 
    bottom: 0;
    width: 95.4%; 
    margin-top: 400px;
}

img[alt="marmotta"] {
    height: 550px;
    width: 980px;
    margin: 0 auto;      
    display: block;
    margin-top: 100px;  
}

.floraefauna {
    font-size: 30px;
    color: #90906E;
    max-width: 1000px;
    margin: 0 auto;
    text-align: justify;
    margin-top: 20px; 
}

.Titolo-marmotta {
    font-size: 30px;
    color: #90906E;
    max-width: 900px;
    margin: 0 auto;
    text-align: justify;
    margin-top: 60px; 
}

.introduzione {
    font-size: 16px;
    color: #000000;
    line-height: 1.6;
    text-align: left;
    max-width: 1000px;
    margin: 0 auto;
    position: relative;
    top: 20px;
} 

.descrizione-marmotta {
    font-size: 14px;
    color: #000000;
    line-height: 1.6;
    text-align: left;
    max-width: 900px;
    margin: 0 auto;
    position: relative;
    top: 20px;
} 

img[alt="ginestra"] {
    height: 550px;
    width: 980px;
    margin: 0 auto;      
    display: block;
    margin-top: 130px;  
}

.titolo-etna {
    font-size: 30px;
    color: #90906E;
    max-width: 900px;
    margin: 0 auto;
    text-align: justify;
    margin-top: 60px; 
}

.descrizione-ginestre {
    font-size: 14px;
    color: #000000;
    line-height: 1.6;
    text-align: left;
    max-width: 900px;
    margin: 0 auto;
    position: relative;
    top: 20px;
} 

img[alt="Pino"] {
    height: 550px;
    width: 980px;
    margin: 0 auto;      
    display: block;
    margin-top: 130px;  
}

.Titolo-pino {
    font-size: 30px;
    color: #90906E;
    max-width: 900px;
    margin: 0 auto;
    text-align: justify;
    margin-top: 60px; 
}

.descrizione-pino {
    font-size: 14px;
    color: #000000;
    line-height: 1.6;
    text-align: left;
    max-width: 900px;
    margin: 0 auto;
    position: relative;
    top: 20px;
} 

img[alt="FARFALLA"] {
    height: 550px;
    width: 980px;
    margin: 0 auto;      
    display: block;
    margin-top: 130px;  
}

.Titolo-farfalla {
    font-size: 30px;
    color: #90906E;
    max-width: 900px;
    margin: 0 auto;
    text-align: justify;
    margin-top: 60px; 
}

.descrizione-farfalla {
    font-size: 14px;
    color: #000000;
    line-height: 1.6;
    text-align: left;
    max-width: 900px;
    margin: 0 auto;
    position: relative;
    top: 20px;
} 

.attività {
    font-size: 30px;
    color: #90906E;
    max-width: 1000px;
    margin: 0 auto;
    text-align: justify;
    margin-top: 30px; 
}

.introduzione0 {
    font-size: 14px;
    color: #000000;
    line-height: 1.6;
    text-align: left;
    max-width: 1000px;
    margin: 0 auto;
    position: relative;
    top: 10px;
} 

.titolo-trekking {
    font-size: 30px;
    color: #90906E;
    max-width: 1000px;
    margin: 0 auto;
    text-align: justify;
    margin-top: 90px; 
}

img[alt="trekking"] {
    height: 500px;
    width: 1200px;
    margin: 0 auto;      
    display: block;
    margin-top: 30px;  
}

img[alt="BIRDWATCHING"] {
    height: 550px;
    width: 980px;
    margin: 0 auto;      
    display: block;
    margin-top: 50px;  
}

img[alt="escursioni"] {
    height: 550px;
    width: 980px;
    margin: 0 auto;      
    display: block;
    margin-top: 50px;  
}

img[alt="trekking-pollino"] {
    height: 550px;
    width: 980px;
    margin: 0 auto;      
    display: block;
    margin-top: 40px;  
}


.descrizione-trekking {
    font-size: 14px;
    color: #000000;
    line-height: 1.6;
    text-align: left;
    max-width: 1000px;
    margin: 0 auto;
    position: relative;
    top: 10px;
} 

.titolo-birdwatching{
    font-size: 30px;
    color: #90906E;
    max-width: 1000px;
    margin: 0 auto;
    text-align: justify;
    margin-top: 70px; 
}

.descrizione-birdwatching {
    font-size: 14px;
    color: #000000;
    line-height: 1.6;
    text-align: left;
    max-width: 1000px;
    margin: 0 auto;
    position: relative;
    top: 10px;
} 

.titolo-escursioni {
    font-size: 30px;
    color: #90906E;
    max-width: 1000px;
    margin: 0 auto;
    text-align: justify;
    margin-top: 90px;  
}

.descrizione-escursioni {
    font-size: 14px;
    color: #000000;
    line-height: 1.6;
    text-align: left;
    max-width: 1000px;
    margin: 0 auto;
    position: relative;
    top: 10px;
} 

.titolo-percorsi {
    font-size: 30px;
    color: #90906E;
    max-width: 1000px;
    margin: 0 auto;
    text-align: justify;
    margin-top: 90px; 
}

.descrizione-percorsi {
    font-size: 14px;
    color: #000000;
    line-height: 1.6;
    text-align: left;
    max-width: 1000px;
    margin: 0 auto;
    position: relative;
    top: 10px;
} 


h4 {
    font-size: 15px;
    color: black;
    max-width: 1100px;
    margin: 0 auto;
    margin: 50px 240px;
    font-weight: 500;
}

main {
    max-width: 1100px;
    margin:auto
    
}

.parchi h5, .parchi p {
    padding: 0;
    font-size: 15px;
    font-weight: 500;
    font-family: "Libre Franklin", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

.grid {
    margin-left: 70px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px
    
}

.grid .item img {
    height: 300px;
    width: 390px;
    object-fit: cover;
}

.footer {
    background-color: #859F6B; 
    color: white; 
    text-align: center; 
    padding: 35px; 
    position: relative; 
    bottom: 0;
    width: 95.4%; 
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        text-align: center;
    }

    nav ul {
        flex-direction: column;
        padding: 0;
    }

    nav ul li {
        margin: 10px 0;
    }

    h1, h2, .titolo-fauna, .titolo-fauna01, .titolo-fauna02, .titolo-fauna03, .Titolo-marmotta, .titolo-etna, .Titolo-pino, .Titolo-farfalla, .titolo-birdwatching, .titolo-escursioni, .titolo-percorsi  {
        font-size: 20px;
        margin: 30px;
        margin-top: -20px;
    }
    .titolo-trekking { 
        font-size: 20px;
        margin: 30px;
        margin-top: 50px;
    }

    .floraefauna, .attività  { 
        font-size: 20px;
        margin: 30px;
    }

    h1 {
        font-size: 20px;
        margin: 30px;
    }

    .Titolo-parco, .Titolo-parco01, .Titolo-parco02 {
        font-size: 20px;
        margin-left: 60px;
        margin-right: 60px;
        margin-top: -90px;
    }

    .Titolo-paesaggio, .Titolo-attività, .Titolo-visitare, .Titolo-montagne03, .Titolo-attività03, .Titolo-cultura, .Titolo-bellunesi, .Titolo-alpini01, .Titolo-visitatori01, .Titolo-storico01, .Titolo-paradiso01, .Titolo-montagne02, .Titolo-visitatori02, .titolo-botanica, .titolo-pollino {
        font-size: 20px;
        margin: 30px;
        margin-top: 100px;
    }

    .Titolo-parco03  {
        font-size: 20px;
        margin-left: 60px;
        margin-right: 60px;
        margin-top: -120px;
    }

    .conservazione {
        font-size: 20px;
        margin-left: 70px;
        margin-right: 70px;
        margin-top: -300px;
    }

    .conservazione01, .conservazione03, .conservazione02 {
        font-size: 20px;
        margin-left: 70px;
        margin-right: 70px;
        margin-top: -260px;
    }

    .testo, .testo01, .testo02 {
        font-size: 14px;
        margin-left: 70px;
        margin-right: 70px;
    }

    .testo03 {
        font-size: 14px;
        margin-left: 70px;
        margin-right: 70px;
    }

    .descrizione-parco, h3, h4, .Fauna, .sottotitolo-parco,  .Fauna01,  .descrizione-parco01, .descrizione-parco02, .Fauna02, .descrizione-parco03, .Fauna03, .descrizione-ginestre, .descrizione-marmotta, .descrizione-birdwatching, .descrizione-farfalla, .descrizione-pino, .descrizione-escursioni, .descrizione-percorsi, .descrizione-trekking, .introduzione0, .introduzione, .descrizione-paesaggio, .descrizione-attività, .descrizione-visitare, .descrizione-montagne03, .descrizione-attività03, .descrizione-cultura03, .descrizione-bellunesi03, .descrizione-alpini01, .visitatori01, .storico01, .paradiso01, .descrizione-montagne02, .descrizione-visitatori02, .descrizione-botanica02, .testo-pollino02  {
        font-size: 14px;
        margin: 30px;
    }

    .sottotitolo-parco01 {
        font-size: 14px;
        margin: 30px;
        margin-top: 60px;
    }

    img[alt="deep-forest"], img[alt="etna-montagna"], img[alt="volpe"], img[alt="borgo"], img[alt="montagne"], img[alt="capre-montagna"], img[alt="paradiso-montagna"], img[alt="Pollino"], img[alt="lupo-pollino"], img[alt="pollino-montagna"], img[alt="dolomiti-montagne"], img[alt="camoscio-dolomiti"], img[alt="dolomiti"], img[alt="marmotta"], img[alt="trekking-pollino"], img[alt="escursioni"], img[alt="ginestra"], img[alt="Pino"], img[alt="BIRDWATCHING"], img[alt="FARFALLA"], img[alt="trekking"]   {
        width: 80%; 
        height: auto;  
        margin: 50px; 
    }

    .grid {
        grid-template-columns: 1fr;
    }
}










